<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" ng-href="#">Private Class Schedule</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ng-class="getActiveClass('/home')"><a href="#">Home</a></li>
                    <li ng-class="getActiveClass('/info')"><a href="#/info">Info</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a ng-href="#">Benutzer: {{user.firstName}} {{user.lastName}} </a></li>
                    <li><a id="logout" ng-href="#" ng-click="logout()">abmelden</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
