<h4 id="lessonListTitle">Lektionenliste</h4>

<form class="form-horizontal">
    <div class="control-group">
        <input type="text" ng-model="search" class="search-query input-medium" placeholder="Suche">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a id="newLessonButton" ng-click="newLesson()" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Neue Lektion</a>
    </div>
</form>


<table id="lessonTable" class="table table-striped">

    <thead>
    <tr>
        <th>Start</th>
        <th>Ende</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="lesson in lessons | filter:search">
        <td class="lessonListName">{{lesson.start | date:'dd.MM.yyyy HH:mm UTC'}} {{lesson.end | date:'dd.MM.yyyy HH:mm UTC'}}</td>
        <td class="lessonListActions">
            <a class="editLessonLink" ng-click="editLesson(lesson, $index)"><i class="icon-pencil"></i></a>
            <a class="deleteLessonLink" ng-click="deleteLesson(lesson, $index)"><i class="icon-remove"></i></a>
        </td>
    </tr>
    </tbody>

</table>

