<h4 id="lessonFormTitle">{{lessonDetailTitle}}</h4>

<form name="form" novalidate>

    <div class="controls">
        <input class="span4" type="datetime" ng-model="lessonForm.start" date="dd.MM.yyyy HH:mm" placeholder="Start"
               required>
    </div>
    <div class="controls">
        <input class="span4" type="datetime" ng-model="lessonForm.end" date="dd.MM.yyyy HH:mm" placeholder="Ende"
               required>
    </div>
    <p>
        <input id="saveLessonButton" ng-click="saveLesson()" class="btn btn-primary span2" type="submit" value="Speichern"
               ng-disabled="form.$invalid || isUnchanged(lessonForm)">

        <input id="resetLessonFormButton" ng-click="resetLessonForm()" class="btn span2" value="Abbrechen"
               ng-disabled="isUnchanged(lessonForm)">
    </p>
</form>

