<div ng-controller="LessonListCtrl">

    <a id="newLessonButton" ng-click="newLesson()" class="btn btn-block btn-primary"><i
            class="icon-file icon-white"></i> Neue Lektion</a>

    <br/>

    <h4 id="lessonListTitle">Lektionenliste</h4>

    <table id="lessonTable" class="table table-striped">

        <thead>
        <tr>
            <th>Start</th>
            <th>Ende</th>
            <th>Aktionen</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="lesson in lessons | filter:search">
            <td class="lessonStart">{{lesson.start | date:'dd.MM.yyyy HH:mm'}}
            </td>
            <td class="lessonEnd">{{lesson.end | date:'dd.MM.yyyy HH:mm'}}
            </td>
            <td class="lessonListActions">
                <a class="editLessonLink" ng-click="editLesson(lesson, $index)"><i class="icon-pencil"></i></a>
                <a class="deleteLessonLink" ng-click="deleteLesson(lesson, $index)"><i class="icon-trash"></i></a>
            </td>
        </tr>
        </tbody>

    </table>

</div>