<!-- to use the same input format for the date and time on Chrome, Firefox and Safari use yyyy/MM/dd HH:mm
     all other formats end up being saved as american dates,
     e.g. 06/03/2013 will be saved as 3rd of June 2013,
     Europeans expect this to be 6th of March 2013
     Firefox and Safari do currently not fully support HTML5 type="date", "datetime" or "datetime-local" yet
     Chrome on the other hand recognizes it
     Each browser behaves differently
     To be able to use different browsers, use type="text" and a date entry with /
-->

<div ng-controller="LessonFormCtrl">


    <form name="form" class="form-horizontal" novalidate>

        <div class="control-group">
            <div class="controls">
                <h4 id="lessonFormTitle">{{lessonDetailTitle}}</h4>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lessonDate">Datum</label>

            <div class="controls">
                <div class="input-append">
                    <input id="lessonDate" type="text" ng-model="lessonForm.date" bs-datepicker>
                    <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lessonFrom">Von</label>

            <div class="controls bootstrap-timepicker">
                <input id="lessonFrom" class="input-mini" type="text" ng-model="lessonForm.startTime" bs-timepicker>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lessonTo">Bis</label>

            <div class="controls bootstrap-timepicker">
                <input id="lessonTo" class="input-mini" type="text" ng-model="lessonForm.endTime" bs-timepicker>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="lessonStudents">Schüler</label>

            <div class="controls">
                <select id="lessonStudents" class="input-xlarge" multiple ui-select2="select2Options"
                        ng-model="lessonForm.lessonStudentIds">
                    <option ng-repeat="student in students" value="{{student.id._id}}">{{student.firstName}}
                        {{student.lastName}}
                    </option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input id="saveLessonButton" ng-click="saveLesson()" class="btn btn-primary span3" type="submit"
                       value="Speichern"
                       ng-disabled="form.$invalid || isUnchanged(lessonForm)">

                <input id="cancelLessonFormButton" ng-click="cancelLessonForm()" class="btn span3" value="Abbrechen"
                       ng-disabled="isUnchanged(lessonForm)">
            </div>
        </div>

    </form>

</div>