    <h2>Students</h2>

    <div ng-controller="StudentCtrl">
        <input type="text" ng-model="search" class="search-query" placeholder="Search">
        </br>
        <ul class="unstyled">
            <li ng-repeat="student in students | filter:search">
                <input type="checkbox" ng-model="todo.done" ng-click="updateTodo(todo)">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30"
                   placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>
</div>
</body>
</html>