<div class="row-fluid">

    <div class="span9 offset1">
        <p class="lead">
            Eine Software-Lösung für Musiklehrer und Lehrer von Privatunterricht, die für die Unterrichtsplanung
            individuell auf ihre Schüler eingehen müssen. Ein Planungsinstrument, das speziell auf die Bedürfnisse für
            den Einzel- und Kleingruppen-Unterricht abgestimmt ist.
        </p>

        <p class="lead">
            Diese Applikation wurde im Rahmen einer Masterarbeit MAS Software Engineering der HSR entwickelt.
        </p>

        <footer>
            <p>Unterrichtsplanung Development Version</p>
        </footer>
    </div>
</div>
