<div class="row-fluid">
    <div class="span9" ng-switch on="leftView">
        <div ng-switch-when="calendar" ng-include src="'view/calendar/calendar.html'"></div>
        <div class="offset2" ng-switch-when="studentForm" ng-include src="'view/student/studentForm.html'"></div>
        <div class="offset2" ng-switch-when="lessonForm" ng-include src="'view/lesson/lessonForm.html'"></div>
    </div>
    <div class="span3">

        <ul class="nav nav-tabs">
            <li ng-class="{active: rightView == 'studentList'}">
                <a ng-click="setRightViewStudentList()">Schüler</a>
            </li>
            <li ng-class="{active: rightView == 'lessonList'}">
                <a ng-click="setRightViewLessonList()">Lektionen</a>
            </li>
        </ul>

        <div ng-switch on="rightView">
            <div ng-switch-when="studentList" ng-include src="'view/student/studentList.html'"></div>
            <div ng-switch-when="lessonList" ng-include src="'view/lesson/lessonList.html'"></div>
        </div>
    </div>
</div>
